<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Bestellen</li>
</ol>

<div class="row">
    <div class="panel-body">

        <div class="col-md-8 well" ng-if="orderSent">
            <strong>Vielen Dank!</strong> Ihre Bestellung wurde gesendet.
            <p>Zurück zum <a href="" ng-click="resetOrder()">Bestellformular</a></p>

        </div>

        <div class="col-sm-8" ng-if="!orderSent">

            <form id="form" ng-submit="submitOrder($event)">
                <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="company">Firma</label>
                                <input type="email" class="form-control" id="compyany" name="company" ng-model="order.company">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="uid"><abbr title="Umsatzsteuer-Identifikationsnummer">UID</abbr></label>
                                <input type="email" class="form-control" id="uid" name="uid" ng-model="order.uid" placeholder="z.B. ATU99999999">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required ng-model="order.name">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="mail">E-Mail-Adresse</label>
                                <input type="email" class="form-control" id="mail" name="mail" required ng-model="order.mail">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Telefon</label>
                                <input type="text" class="form-control" id="tel" ng-model="order.tel">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="form-group">
                        <label for="street">Straße, Hausnummer</label>
                        <input type="text" class="form-control" id="street" name="street" ng-model="order.street">
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="zip">Postleitzahl</label>
                                <input type="text" class="form-control" id="zip" name="zip" ng-model="order.zip">
                            </div>
                        </div>
                        <div class="col-md-8">

                            <div class="form-group">
                                <label for="city">Ort</label>
                                <input type="text" class="form-control" id="city" name="city" ng-model="order.city">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="country">Land</label>
                        <select class="form-control" name="country" id="country" ng-model="order.country">
                            <option selected>Deutschland</option>
                            <option>Österreich</option>
                            <option>Schweiz</option>
                        </select>
                    </div>
                </div>

                <div class="well">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="amount">Menge</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="amount" name="amount" ng-model="order.amount" min="1" max="100" step="1">
                                    <div class="input-group-addon">Kanister</div>
                                    <div ng-messages="order.amount.$error" role="alert">
                                        <div ng-message="required">Bitte geben Sie eine Stückzahl zwischen 1 und 100 an.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="remark">Bemerkung</label>
                                <textarea class="form-control" rows="10" id="remark" name="remark" ng-model="order.remark"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-lg order">
                    <a href="" class="btn btn-sm uppercase" ng-click="submitOrderForm()">Bestellung absenden</a>
                </div>

                <!--<button type="submit" class="btn btn-default" ng-hide="true">Bestellen</button>-->
            </form>
        </div>

        <div class="col-sm-4">
            <div class="well well-lg order hidden-sm hidden-xs" ng-if="!orderSent">
                <a href="" class="btn btn-sm uppercase" ng-click="submitOrderForm()">Bestellung absenden</a>
            </div>

            <div class="plan darker-bgcolor">
                <div class="head">
                    <img src="assets/img/etikette.png" />
                    <br>
                    <br>Entspricht der Ausbringung auf 40<abbr title="Hektar">ha</abbr> aufwärts bei einer Anwendung von empfohlenen 0,25l/ha
                </div>
                <ul class="item-list list-unstyled">
                    <li>67,8 € pro Liter</li>
                    <li>1 Kanister = 10 L = 40 ha</li>
                    <li>678 € / Kanister = 16,95 € / ha</li>
                </ul>
                <div class="price">
                    <h3><span class="mw-headline">678 €</span></h3>
                    <h4><span class="mw-headline">pro Kanister</span></h4>
                    <p>zuzgl. MwSt.</p>
                </div>
            </div>
        </div>
    </div>

</div>
